.ui.label, .ui.button
    margin  .2em !important

body
    // background lightgrey !important
    background #eeeeee !important
    // font-size 15px !important
    // line-height 1.5em
    // margin-top 5em


.header-brand .navbar-brand 
    padding 0
    margin 0 !important
    position absolute
    top 0
    z-index 1030
    width 80px