// .ui.label, .ui.button
.ui.button
    margin  .2em !important

// body
    // background lightgrey !important
    // background #eeeeee !important
    // font-size 15px !important
    // line-height 1.5em
    // margin-top 5em

@media screen and (max-width: 1100px) 
    .header-logo 
        float: none
        margin:0
        // width: 100%
    .red-nav-bar
        margin-top 5px
        margin-bottom 5px


@media screen and (min-width: 1100px) 
    .header-logo 
        padding 0
        margin -36 !important
        position absolute
        top 0
        left 100px
        z-index 1030
        // width 80px
        // width: 100%
    .red-nav-bar
        margin-top 90px
        margin-bottom 5px

.-autocomplete-container
    margin-top 12px

    
    
// .footer
//     background url("/img/bg-black-rpt.jpg") repeat-x scroll left top transparent
//     height auto
//     bottom 0



.overlay-text
    color: ghostwhite
    // font: bold 32px/45px Helvetica, Sans-Serif
    // letter-spacing: -1px
    background: rgba(137,19,31, 0.7)
    padding: 10px
    position: absolute
    top: 200px
    left: 0px
    width: 700px
