// .ui.label, .ui.button
.ui.button
    margin  .2em !important

body
    // background lightgrey !important
    // background #eeeeee !important
    // font-size 15px !important
    // line-height 1.5em
    // margin-top 5em


.header-logo 
    padding 0
    margin -36 !important
    position absolute
    top 0
    left 100px
    z-index 1030
    // width 80px
    
.red-nav-bar
    margin-top 90px
    margin-bottom 10px
    
    
// .footer
//     background url("/img/bg-black-rpt.jpg") repeat-x scroll left top transparent
//     height auto
//     bottom 0