template(name='home')
    +slider
    +call_to_action
    +featured_events
    +featured_posts


template(name='call_to_action')
    .ui.secondary.fluid.basic.attached.segment
        .ui.stackable.container.grid
            .ten.wide.column
                h1.ui.header COME FOR COWORKING, STAY FOR COMMUNITY
                h3.ui.header Impact Hub Boulder is a member-based coworking space and event venue for entrepreneurs creating positive impact.
                h4
                    a(href='/partners')
                        |Meet Our Partners
                        i.right.arrow.icon
            .four.wide.center.aligned.column
                .ui.massive.green.button Join Now

template(name='slider')
    img.ui.fluid.attached.image(src='https://oakland.impacthub.net/wp-content/uploads/sites/128/2014/12/impact-hub-oakland-home-banner-with-text.jpg')
    
    
template(name='featured_events')
    .ui.tertiary.fluid.basic.attached.segment
        h1.ui.header Featured Events
        .ui.three.stackable.cards
            each featured_events
                +event
                

template(name='featured_posts')
    .ui.tertiary.fluid.basic.attached.segment
        h1.ui.header Featured Posts
        .ui.three.stackable.cards
            each featured_posts
                +post