.ui.container
    #join_slider(style='width: 1000px; height: 300px;')
        .ls-slide(data-ls='slidedelay: 4000;')
            img.ls-bg(src="{{c.url 'coworking' effect='improve' width=1000 height=300 crop='fill' }}", alt='Slide background' height='100')
            .ls-l.overlay-text.slider-text(style="top: 50%;") 
                | Join Impact Hub Boulder Today: Membership Options
    .ui.basic.segment
        .ui.basic.padded.segment
            .large-text
                |Choose the 
                span(style='color: #003366;') Community
                |  or 
                span(style='color: #800000;') Coworking
                |  membership that best fits your needs from the below options. Memberships are monthly (renew automatically) and can be scaled up and down as your needs evolve. 
                |  Discounts are available for non-profits (15%), students (15%), B-Corps (10%), and companies with 2+ memberships (10% off combined billing).
        +memberships
