.ui.basic.segment.container
    h1.ui.center.aligned.header Join Impact Hub Boulder Today: Membership Options
    .ui.basic.padded.segment
        |Choose the 
        span(style='color: #003366;') Community
        |  or 
        span(style='color: #800000;') Coworking
        |  membership that best fits your needs from the below options. Memberships are monthly (renew automatically) and can be scaled up and down as your needs evolve. 
        | Discounts are available for non-profits (15%), students (15%), B-Corps (10%), and companies with 2+ memberships (10% off combined billing).
    +memberships
    // .ui.six.stackable.cards
    //     .ui.card
    //         .content
    //             .header CONNECT
    //         .content
    //             .header $30/month
    //         .content
    //             | Community membership (no included coworking access)
    //         .content
    //             | Free or discounted events
    //         .content
    //             | + $25/day coworking access
    //         .extra.content
    //             a.ui.green.fluid.button(href='https://hubboulder.formstack.com/forms/ihb_membership_form') Join Now        
    //     .ui.card
    //         .content
    //             .header DROP-IN
    //         .content
    //             .header $75/month
    //         .content
    //             | Full-time M-F, 9am to 6pm coworking access
    //         .content
    //             | Free or discounted events
    //         .content
    //             | Free espresso, coffee & tea
    //         .extra.content
    //             a.ui.green.fluid.button(href='https://hubboulder.formstack.com/forms/ihb_membership_form') Join Now
    //     .ui.card
    //         .content
    //             .header MULTI-DAY
    //         .content
    //             .header $130/month
    //         .content
    //             | 54 hrs/mo (~6 days/mo) coworking access
    //         .content
    //             | Free or discounted events
    //         .content
    //             | Free espresso, coffee & tea
    //         .extra.content
    //             a.ui.green.fluid.button(href='https://hubboulder.formstack.com/forms/ihb_membership_form') Join Now
    //     .ui.card
    //         .content
    //             .header PART-TIME
    //         .content
    //             .header $195/month
    //         .content
    //             | 108 hrs/mo (~12 days/mo) coworking access
    //         .content
    //             | Free or discounted events
    //         .content
    //             | Free espresso, coffee & tea
    //         .extra.content
    //             a.ui.green.fluid.button(href='https://hubboulder.formstack.com/forms/ihb_membership_form') Join Now
    //     .ui.card
    //         .content
    //             .header FULL-TIME
    //         .content
    //             .header $295/month
    //         .content
    //             | Full-time M-F, 9am to 6pm coworking access
    //         .content
    //             | Free or discounted events
    //         .content
    //             | Free espresso, coffee & tea
    //         .extra.content
    //             a.ui.green.fluid.button(href='https://hubboulder.formstack.com/forms/ihb_membership_form') Join Now
    //     .ui.card
    //         .content
    //             .header FIXED DESK
    //         .content
    //             .header $450/month
    //         .content
    //             | 24/7 access card included
    //         .content
    //             | Locking file cabinet
    //         .content
    //             | EcoPass included
    //         .content
    //             | 6 month lease required
    //         .content
    //             | Free or discounted events
    //         .content
    //             | Free espresso, coffee & tea
    //         .extra.content
    //             a.ui.green.fluid.button(href='https://hubboulder.formstack.com/forms/ihb_membership_form') Apply Now
    // p.man
    //   | For any questions regarding our pricing plans above, don't hesitate to 
    //   a(href='#') contact us
    //   | !