#rent_slider(style='width: 800px; height: 100px;')
    .ls-slide(data-ls='slidedelay: 4000;')
        img.ls-bg(src='/banners/event_banner_cut.jpg', alt='Slide background' height='100')
        .ls-l.overlay-text.slider-text(style="top: 10px;") 
            | Rent A Conference Room or Event Space
.ui.basic.segment.container
    .ui.basic.segment
        .large-text
            p Impact Hub Boulder offers a number of options for event rentals from large social gatherings (~200 people), to amphitheater style speaker series (up to roughly ~125 people), to medium and small workshop settings. 
            p In addition, our three conference rooms accommodate between 8-14 people, and come complete with A/V, whiteboards, and more. The rooms are available for a wide variety of meetings to members and the general public, and may be reserved by following the link below.
    // .ui.basic.center.aligned.segment
    //     a.ui.basic.button(title='MEETING ROOM', href='/host-meeting/', target='_self')
    //       | MEETING ROOM
    //       i.arrow.circle.right.icon
    //     a.ui.basic.button(title='EVENT RENTAL', href='http://impacthubboulder.com/host-an-event/', target='_self')
    //       | EVENT RENTAL
    //       i.arrow.circle.right.icon
    // +host_meeting
    h2.impact-header Event Spaces
    // .ui.big.black.basic.button 
    //     .make-uppercase Try a Free Day
    .ui.centered.four.cards
        .ui.card
            .image
                img(src="{{c.url 'venue'}}")
                // a(href="{{c.url 'venue'}}")
            .content
                .header Venue
                // .description
                //     | If you’re looking to host a large event that will take more than just one of our spaces, we offer an option of renting the majority of our space. With the whole HUB at your disposal, you can have break-out groups, multiple, and concurrent sessions.
                .extra
                    .ui.mini.statistics
                        .ui.statistic
                            .value
                                // img(src='/icons/chair_icon.png')
                                | 150
                            .label
                                |Seats
                        .ui.statistic
                            .value
                                // i.male.icon
                                | 250
                            .label
                                |People
                        .ui.statistic
                            .value
                                | 3,000
                            .label
                                | Square Feet
        .ui.card
            .image
                img(src="{{c.url 'middle_conference_room'}}")
                // a(href="{{c.url 'middle_conference_room'}}")
            .content
                .header Middle Conference Room
                // .description
                //     |Our most intimate meeting space, the Middle Conference Room offers a round table that can accommodate up to six people. The conference room features a large flat panel display (equipped w/ Apple TV) and glass walls.
                .extra
                    .ui.mini.statistics
                        .ui.statistic
                            .value
                                | 6
                            .label
                                |Seats
                        .ui.statistic
                            .value
                                | 8
                            .label
                                |People
                        .ui.statistic
                            .value
                                | 100
                            .label
                                | Square Feet
                    // .ui.mini.statistic
                    //     .value
                    //         i.dollar.icon
                    //         | 50/ Hour
                    //     .label
                    //         |Non-Members
                    // .ui.mini.statistic
                    //     .value
                    //         i.dollar.icon
                    //         | 10/ Hour
                    //     .label
                    //         |Connect Members
                    // .ui.mini.statistic
                    //     .value
                    //         i.dollar.icon
                    //         | 5/ Hour
                    //     .label
                    //         |Work Members
        .ui.card
            .image
                img(src="{{c.url 'se_conference_room'}}")
                // a(href="{{c.url 'se_conference_room'}}")
            .content
                .header Southeast Conference Room
                // .description
                //     | The Southeast Conference Room can seat 8 comfortably around a table. The room features a large flat panel display (equipped w/ Apple TV), windows, and glass walls. A mobile white board is available upon request.
                .extra.content
                    span
                        | 8 Seats
                        | 12 People
                    span.right.floated
                        | 200 Square Feet
                    // .ui.mini.statistic
                    //     .value
                    //         i.dollar.icon
                    //         | 50/ Hour
                    //     .label
                    //         |Non-Members
                    // .ui.mini.statistic
                    //     .value
                    //         i.dollar.icon
                    //         | 20/ Hour
                    //     .label
                    //         |Connect Members
                    // .ui.mini.statistic
                    //     .value
                    //         i.dollar.icon
                    //         | 10/ Hour
                    //     .label
                    //         |Work Members
        .ui.card
            .image
                img(src="{{c.url 'board_room'}}")
                // a(href="{{c.url 'board_room'}}")
            .content
                .header Boardroom
                // .description
                //     | Our largest-capacity conference room, the Board Room can seat 14 around a large table. The Board Room features a large flat panel display (equipped w/ Apple TV), glass walls and windows, and a credenza for supplies or food and beverages. A mobile white board is available upon request.
                .extra
                    .ui.mini.statistics
                        .ui.statistic
                            .value
                                | 12
                            .label
                                |Seats
                        .ui.statistic
                            .value
                                | 18
                            .label
                                |People
                        .ui.statistic
                            .value
                                | 400
                            .label
                                | Square Feet
                        // .ui.mini.statistic
                        //     .value
                        //         i.dollar.icon
                        //         | 100/ Hour
                        //     .label
                        //         |Non-Members
                        // .ui.mini.statistic
                        //     .value
                        //         i.dollar.icon
                        //         | 30/ Hour
                        //     .label
                        //         |Connect Members
                        // .ui.mini.statistic
                        //     .value
                        //         i.dollar.icon
                        //         | 20/ Hour
                        //     .label
                        //         |Work Members

.ui.padded.basic.segment.container
    // table.ui.fixed.basic.definition.celled.table
    //     thead
    //         tr.center.aligned.row
    //             th.bottom.aligned 
    //             th.bottom.aligned 
    //                 h3 Non-Members
    //             th.bottom.aligned 
    //                 h3 Connect Members
    //             th.bottom.aligned 
    //                 h3 Work Members
    //     tbody
    //         tr.center.aligned
    //             td.right.aligned Board Room
    //             td 
    //                 h4 $100/hour
    //             td 
    //                 h4 $30/hour
    //             td 
    //                 h4 $20/hour
    //         tr.center.aligned
    //             td.right.aligned Southeast
    //             td 
    //                 h4 $50/hour
    //             td 
    //                 h4 $20/hour
    //             td 
    //                 h4 $10/hour
    //         tr.center.aligned
    //             td.right.aligned Middle
    //             td 
    //                 h4 $50/hour
    //             td 
    //                 h4 $10/hour
    //             td 
    //                 h4 $5/hour
    
    p.large-text  Payment must be received at the time you make your reservation. Cancellations made within 7 days of your reservation will not be refunded.

    // .formstack_embed
    //     script(src='https://us.bookingbug.com/widget/all.js?id=usw1528057&c1=transparent&c2=F5F5F5&c3=DDDDDD&c4=ADADAD&c5=FFFFFF&c6=087f94&c7=274361&c8=EBEBEB&c9=88C66F&f1=&style=medium&icons=&is_rounded=1&width=570&height=570', type='text/javascript')
    // h2 Host Your Event At Impact Hub Boulder
    // | Impact Hub Boulder's event space is in high demand and reservations should be made 45 days in advance. Please complete the brief form below to connect with our events manager for an initial quote and to determine date availability. 
    // .formstack_embed
    //     script(type='text/javascript', src='http://hubboulder.formstack.com/forms/js.php/event_reservations')
    //     noscript
    //         a(href='http://hubboulder.formstack.com/forms/event_reservations', title='Online Form') Online Form - Reserve Event Space at Impact Hub Boulder
    .ui.center.aligned.basic.segment
        a.ui.center.aligned.huge.black.basic.button(href='https://www.bookingbug.com/home/116291-Impact-Hub-Boulder' target='_window') 
            .make-uppercase Reserve

