with post
    .ui.hidden.divider
    .ui.container
        .ui.fluid.card
            .content
                +back_button
                .header
                    h2.ui.header #{title}
                .description
                    // .ui.header Post Topics:
                    each tags
                        .ui.basic.label #{this}
                    |!{description}
            .extra.content
                if isInRole 'admin'
                    .edit_post.ui.labeled.primary.basic.icon.button
                        i.pencil.icon
                        |Edit post    