template(name='edit_service')
    with service
        .ui.container.segment
            .ui.form
                +edit_title
                +edit_image
                +edit_description
                +edit_price
                +edit_tags
                if tags
                    #save_service.ui.large.green.button Save
                +delete_button