template(name='service_cloud')
    .ui.center.aligned.segment
        .ui.header Browse services
            if can_add_service
                #add_service.ui.compact.basic.button
                    i.green.plus.icon
                    |Add service
        if selected_service_tags
            #clear_tags.ui.red.big.compact.icon.button
                i.remove.icon
        if selected_service_tags
            each selected_service_tags
                a.ui.red.big.compact.button.unselect_tag
                    strong #{this}
        each all_service_tags
            .ui.compact.basic.button.select_tag(class=service_tag_cloud_class) #{this.name}
                small #{this.count}
