with service
    .ui.fluid.card
        .content
            .header
                h2.ui.header #{title}
            .description
                // .ui.header service Topics:
                each tags
                    .ui.compact.button.service_tag(class=service_tag_class) #{this}
                |!{description}
        .extra.content
            +favorite
            if isInRole 'admin'
                .edit_service.ui.labeled.primary.basic.icon.button
                    i.pencil.icon
                    |Edit Service    