.field
    if published
        #unpublish.ui.basic.icon.button
            i.toggle.on.icon
    else
        #publish.ui.basic.icon.button
            i.toggle.off.icon
    if published
        .ui.green.basic.label Published
    else
        .ui.basic.label Not Published
