.field
    if published
        #unpublish.ui.green.button
            i.toggle.on.icon
            |Published
    else
        #publish.ui.basic.button
            i.toggle.off.icon
            |Unpublished
