template(name='home')
    +slider
    +featured_events



template(name='slider')
    img.ui.fluid.attached.image(src='https://oakland.impacthub.net/wp-content/uploads/sites/128/2014/12/impact-hub-oakland-home-banner-with-text.jpg')
    
    
template(name='featured_events')
    h1.ui.header Featured Events