template(name='edit_post')
    with post
        .ui.segment
            .ui.form
                .required.field
                    label Title
                    input#title(type='text' placeholder='Title' value=title)
                .field
                    label Description
                    textarea#description(rows='5') #{description}
                .field
                    label Post Tags
                    each tags
                        .ui.basic.button.post_tag
                            i.minus.icon
                            |#{this}
                    .ui.left.icon.input
                        i.add.icon
                        input#add_post_tag(type='text' autofocus='' placeholder='Add Tag' maxlength='50')
                if tags
                    #save_post.ui.large.green.button Save
                #delete_post.ui.red.large.button Delete