template(name='submissions')
    .ui.container
        table.ui.table
            thead
                tr
                    th Name
                    th Email
                    th Reason
                    th Message
                    th 
            tbody
                each submissions
                    tr
                        td #{data.name}
                        td #{data.email}
                        td 
                            .ui.basic.label #{data.reason}
                        td #{data.message}
                        td
                            .ui.basic.disabled.button.mail_feedbacker
                                i.mail.icon
                                |Mail
                            .ui.basic.button.remove_submission
                                i.remove.icon
                                |Remove
                    