template(name='event_cloud')
    .ui.center.aligned.segment
        .ui.header Browse Events
            if can_add_event
                #add_event.ui.compact.basic.button
                    i.green.plus.icon
                    |Add Event
        if selected_event_tags
            #clear_tags.ui.red.big.compact.icon.button
                i.remove.icon
        if selected_event_tags
            each selected_event_tags
                a.ui.red.big.compact.button.unselect_tag
                    strong #{this}
        each globaltags
            .ui.compact.basic.button.select_tag(class=globaltagClass) #{this.name}
                small #{this.count}
