.ui.container        
    #about_slider(style='width: 1000px; height: 400px;')
        .ls-slide(data-ls='slidedelay: 2000;')
            img.ls-bg(src="{{c.url 'about_collage' width=1000 height=400 effect='art:primavera'}}", alt='Slide background')
            h1.ls-l.overlay-text.slider-text(style="top: 50%; text-size: 400%;") 
                | About Impact Hub Boulder
    .ui.basic.padded.segment
        p.large-text
            | A 
            a(href='/mission-values/') mission and values-driven 
            |  community and co-working space, Impact Hub Boulder provides a productive workspace, effective programming, and a collaborative network to accelerate our members’ efforts towards creating positive impact in the world. Become a member, enjoy our 10,000+ square foot co-working space, connect with our professional and welcoming community of members, attend an event, and enjoy many other benefits.
    .ui.hidden.divider
    .ui.basic.padded.segment
        h2#international.impact-header About the International Impact Hub Network
        p.large-text
            |Impact Hub Boulder is a proud member of the growing 
            a(href='http://www.impacthub.net/') 
                |Global Impact Hub Network
                i.fitted.external.link.icon
                |.
            | Though the network is geographically and culturally diverse, there is strong collaboration and knowledge sharing among the leadership and member communities of each Impact Hub. 
            | Visit any Impact Hub around the world and join our active and collaborative community.
    .ui.four.column.stackable.padded.grid
        .center.aligned.column
            img.ui.centered.circular.bordered.image(src='/img/icon_open_impact_hubs.png', alt='icon_open_impact_hubs', width='160', height='160')
            .ui.small.statistic
                .value 86
                .label Open Impact Hubs
        .center.aligned.column
            img.ui.centered.circular.bordered.image(src='/img/icon_impact_hubs_in_making.png', alt='icon_impact_hubs_in_making', width='160', height='160')
            .ui.small.statistic
                .value 21
                .label Impact Hubs in the Making
        .center.aligned.column
            img.ui.centered.circular.bordered.image(src='/img/icon_impact_hub_members.png', alt='icon_impact_hub_members', width='160', height='160')
            .ui.small.statistic
                .value 15,000+
                .label Impact Hub Members Globally
        .center.aligned.column
            img.ui.centered.circular.bordered.image(src='/img/icon_impact_hub_countries.png', alt='icon_impact_hub_countries', width='160', height='160')
            .ui.small.statistic
                .value 5
                .label Regions
    .ui.hidden.section.divider
    h2.impact-header Meet the Impact Hub Team
    .ui.stackable.centered.five.cards
        .ui.card
            .image
                img(src='/team/Emmett_Skiles.jpg')
            .content
                .header Emmett Skiles
                .meta
                    span.date Community & Operations Manager
                .description
                    | Day-to-day oversight of community and operations.
            .extra.content
                a(href='https://www.linkedin.com/in/emmettskiles' target="_blank")
                    i.linkedin.icon        
        .ui.card
            .image
                img(src='/team/Maiyu_Ondaro.jpg')
            .content
                .header Maiyu Ondaro
                .meta
                    span.date Events & Programs Manager
                .description
                    | Lead on day-to-day events and programs.
            .extra.content
                a(href='https://www.linkedin.com/in/maiyu-marsha-ondaro-23a541b2' target="_blank")
                    i.linkedin.icon            
        .ui.card
            .image
                img(src='/team/Peter_Begley.png')
            .content
                .header Peter Begley
                .meta
                    span.date CFO
                .description
                    | Financial oversight of Impact Hub Boulder.
            .extra.content
                a(href='https://www.linkedin.com/in/peterbegley' target="_blank")
                    i.linkedin.icon
        .ui.card
            .image
                img(src='/team/peter-mohr.jpg')
            .content
                .header Peter Mohr
                .meta
                    span.date Host
                .description
                    | Host with emphasis on graphic design and operations.
            .extra.content
                a(href='https://www.linkedin.com/in/peter-mohr-93a671a9' target="_blank")
                    i.linkedin.icon
        // .ui.card
        //     .image
        //         img(src='/team/Juliana_Maloy.jpg')
        //     .content
        //         .header Juliana Maloy
        //         .meta
        //             span.date Host
        //         .description
        //             | Host with emphasis on member experience and events.
        //     .extra.content
        //         a(href='https://www.linkedin.com/in/juliana-maloy-824a4b111' target="_blank")
        //             i.linkedin.icon
        .ui.card
            .image
                img(src='/team/galen_bernard.jpg')
            .content
                .header Galen Bernard
                .meta
                    span.date Host
                .description
                    | Host with emphasis on community building and communications.
            .extra.content
                a(href='https://www.linkedin.com/in/galenbernard' target="_blank")
                    i.linkedin.icon
    .ui.hidden.section.divider
    h2.impact-header Meet the Impact Hub Boulder Board
    .ui.stackable.centered.five.cards
        .ui.card
            .image
                img(src='/board/Scott_Kiere.jpg')
            .content
                .header Scott Kiere
                .meta
                    span.date Board Member
                // .description
                //     | Host with emphasis on graphic design and operations.
            .extra.content
                a(href='https://www.linkedin.com/in/scottkiere' target="_blank")
                    i.linkedin.icon
        .ui.card
            .image
                img(src='/board/Rich_Hoops.jpg')
            .content
                .header Rich Hoops
                .meta
                    span.date Board Member
                // .description
                //     | Financial oversight of Impact Hub Boulder.
            .extra.content
                a(href='https://www.linkedin.com/in/rich-hoops-1134503' target="_blank")
                    i.linkedin.icon
        .ui.card
            .image
                img(src='/board/Joellen_Raderstorf.jpg')
            .content
                .header Joellen Raderstorf
                .meta
                    span.date Board Member
                // .description
                //     | Lead on day-to-day events and programs.
            .extra.content
                a(href='https://www.linkedin.com/in/joellen-raderstorf-3264785' target="_blank")
                    i.linkedin.icon            
        .ui.card
            .image
                img(src='/board/Jim_Davidson.jpg')
            .content
                .header Jim Davidson
                .meta
                    span.date Board Member
                // .description
                //     | Host with emphasis on member experience and events.
            .extra.content
                a(href='https://www.linkedin.com/in/jgdavidson' target="_blank")
                    i.linkedin.icon
        .ui.card
            .image
                img(src='/board/GregBerry.jpg')
            .content
                .header Greg Berry
                .meta
                    span.date Board Member
                // .description
                //     | Day-to-day oversight of community and operations.
            .extra.content
                a(href='https://www.linkedin.com/in/gregberry' target="_blank")
                    i.linkedin.icon
    // .ui.hidden.section.divider
    // h2.impact-header Partners and Sponsors
    // img.ui.fluid.image(src='http://impacthubboulder.com/wp-content/uploads/2016/03/sponsors_for_main_page_new_20160319.jpg', alt='Partners and sponsors of Impact Hub Boulder')
    // .ui.hidden.section.divider
    +office_holders
    +partners