h2.impact-header Partner Organizations
.ui.five.column.stackable.centered.grid
    each partners
        .column
            img.ui.center.aligned.large.image(src="{{c.url image_id height=200 width=300 crop='pad' fetch_format= 'auto'}}")
            // a(href="/organization/view/#{_id}")
            // .content
            //     .header
            //         a(href="/organization/view/#{_id}")
            //             h3.ui.red.header.make-uppercase #{title}
