.field
    if featured_event
        #make_unfeatured.ui.green.button
            i.toggle.on.icon
            |Featured
    else
        #make_featured.ui.basic.button
            i.toggle.off.icon
            |Unfeatured
