template(name='top_nav')
    .ui.inverted.menu
        .right.menu
            // a.item(href='/services' class="{{isActivePath '/services'}}")
            //     i.laptop.icon
            //     | Services
            // a.item(href='/conversations' class="{{isActivePath '/conversations'}}")
            //     i.comments.outline.icon
            //     | Conversations
            if currentUser
                if isInRole 'admin'
                    // a#add_event.item
                    //     // i.icons
                    //         i.plus.corner.icon
                    //     i.calendar.icon
                    //     |Add Event
                    a.item(href='/admin/' class="{{isActivePath '/admin/'}}")
                        i.configure.icon
                        | Admin
                // a.item(href='/messages' class="{{isActivePath '/messages'}}")
                //     i.mail.icon
                //     | Messages
                //     if currentUser.unreadcount
                //         |(#{currentUser.unreadcount})
                a.item(href="/profile/edit" class="{{isActivePath '/profile/edit'}}")
                    if currentUser.profile.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    | #{currentUser.profile.name}
                a#logout.ui.item(href='#') 
                    i.sign.out.icon
                    |Sign Out
            else
                a.ui.item(href='/sign-in') 
                    i.sign.in.icon
                    |Sign In
                a.ui.item(href='/sign-up') 
                    i.add.user.icon
                    |Register
    a.header-logo(href='/' class="{{isActivePath '/'}}")
        img(src='/img/Impact_Hub_Boulder_logo.png')


template(name='nav')
    .red-nav-bar
        .ui.red.inverted.large.fluid.five.item.stackable.menu
            .ui.container
                a.item(href='/about' class="{{isActivePath '/about'}}")
                    // i.info.circle.icon
                    // strong.make-uppercase About
                    strong About
                // a.item(href='/people' class="{{isActivePath '/people'}}")
                //     // i.users.icon
                //     // strong.make-uppercase People
                //     strong Members
                a.item(href='/events' class="{{isActivePath '/events'}}")
                    // i.calendar.icon
                    // strong.make-uppercase Events
                    strong Events
                // a.item(href='/organizations' class="{{isActivePath '/organizations'}}")
                //     // i.building.icon
                //     // strong.make-uppercase In-House
                //     strong In-House
                a.item(href='/academy' class="{{isActivePath '/academy'}}")
                    // i.university.icon
                    // strong.make-uppercase Programs
                    strong Programs
                // a.item(href='/media' class="{{isActivePath '/media'}}")
                    i.photo.icon
                //     strong.make-uppercase Media
                a.item(href='/join' class="{{isActivePath '/join'}}")
                    // i.add.user.icon
                    strong Join
                // a.item(href='/posts' class="{{isActivePath '/posts'}}")
                //     // i.file.text.outline.icon
                //     strong Blog
                a.item(href='/rent' class="{{isActivePath '/rent'}}")
                    // i.edit.icon
                    strong Rent Our Space
                // a.item(href='/wins' class="{{isActivePath '/wins'}}")
                //     i.thumbs.up.icon
                //     | Wins/Challenges