template(name='top_nav')
    .ui.inverted.menu
        .right.menu
            if is_dev
                .red.item Development Mode
            if currentUser
                if isInRole 'admin'
                    // a.item(href='/services' class="{{isActivePath '/services'}}")
                    //     i.laptop.icon
                    //     | Services
                    // a.item(href='/conversations' class="{{isActivePath '/conversations'}}")
                    //     i.comments.outline.icon
                    //     | Conversations
                    // a#add_event.item
                    //     // i.icons
                    //         i.plus.corner.icon
                    //     i.calendar.icon
                    //     |Add Event
                    a.item(href='/admin/' class="{{isActivePath '/admin/'}}")
                        i.configure.icon
                        | Admin
                    // a.item(href='/messages' class="{{isActivePath '/messages'}}")
                    //     i.mail.icon
                    //     | Messages
                    //     if currentUser.unreadcount
                    //         |(#{currentUser.unreadcount})
                a.item(href="/profile/edit" class="{{isActivePath '/profile/edit'}}")
                    if currentUser.profile.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    if currentUser.profile.name
                        | #{currentUser.profile.name}
                    else
                        | Profile
                a#logout.ui.item(href='#') 
                    i.sign.out.icon
                    |Sign Out
            else
                a.ui.item(href='/sign-in') 
                    i.sign.in.icon
                    |Sign In
                a.ui.item(href='/sign-up') 
                    i.add.user.icon
                    |Register
    a(href='/' class="{{isActivePath '/'}}")
        img.header-logo(src="{{c.url 'ih_logo'}}")


template(name='nav')
    .ui.container
        .red-nav-bar
            if isInRole 'admin'
                .ui.red.inverted.eight.item.stackable.menu
                    a.item(href='/about' class="{{isActivePath '/about'}}")
                        strong About
                    a.item(href='/people' class="{{isActivePath '/people'}}")
                        strong Members
                    a.item(href='/events' class="{{isActivePath '/events'}}")
                        strong Events
                    a.item(href='/ecosystem' class="{{isActivePath '/ecosystem'}}")
                        strong Ecosystem
                    a.item(href='/academy' class="{{isActivePath '/academy'}}")
                        strong Programs
                    // a.item(href='/media' class="{{isActivePath '/media'}}")
                    a.item(href='/posts' class="{{isActivePath '/posts'}}")
                        strong Blog
                    a.item(href='/join' class="{{isActivePath '/join'}}")
                        strong Join
                    a.item(href='/rent' class="{{isActivePath '/rent'}}")
                        strong Rent Our Space
            else
                .ui.red.inverted.seven.item.stackable.menu
                    a.item(href='/about' class="{{isActivePath '/about'}}")
                        strong About
                    // a.item(href='/people' class="{{isActivePath '/people'}}")
                    //     strong Members
                    a.item(href='/events' class="{{isActivePath '/events'}}")
                        strong Events
                    a.item(href='/academy' class="{{isActivePath '/academy'}}")
                        strong Programs
                    // a.item(href='/media' class="{{isActivePath '/media'}}")
                    a.item(href='/posts' class="{{isActivePath '/posts'}}")
                        strong Blog
                    a.item(href='/join' class="{{isActivePath '/join'}}")
                        strong Join
                    a.item(href='/rent' class="{{isActivePath '/rent'}}")
                        strong Rent Our Space
                        