.ui.basic.padded.segment
    h1.ui.center.aligned.header Impact HUB Academy
    img.ui.centered.fluid.image(src='/banners/academy_banner_small.jpg', alt='')

    h4.ui.center.aligned.header Coming Soon