div
    img.ui.centered.fluid.image(src='/banners/organization_banner.jpg', alt='')
    h1.overlay-text.banner-text Host A Meeting At Impact Hub Boulder
.ui.padded.basic.segment.container
    p Impact Hub Boulder offers three conference rooms, all available for rental by members and the general public, and one phone booth available for members on the north side of the space:
    .ui.container.padded.basic.segment
        .ui.equal.width.grid
            .column
                .ui.list
                    .item
                        .header
                            |Board Room
                        .description
                            | Our largest-capacity conference room, with seating for up to 14. Includes a large flat panel display and a credenza for supplies or food and beverages. A mobile white board is available upon request.
                    .item
                        .header
                            |Southeast
                        .description
                            |Seats up to 8. Includes a large flat panel display and outward facing windows. A mobile white board is available upon request.
                    .item
                        .header
                             |Middle
                        .description
                            |Includes a round table with seating for up to 8. Features a large white board on the east wall.
                    .item
                        .header
                             |Northside Phone Booth
                        .description
                            |Available for reservation by members, book this room for individual calls.
            .column
                table.ui.fixed.basic.definition.celled.table
                    thead
                        tr.center.aligned.row
                            th.bottom.aligned 
                            th.bottom.aligned 
                                h3 Non-Members
                            th.bottom.aligned 
                                h3 Connect Members
                            th.bottom.aligned 
                                h3 Work Members
                    tbody
                        tr.center.aligned
                            td.right.aligned Board Room
                            td 
                                h4 $100/hour
                            td 
                                h4 $30/hour
                            td 
                                h4 $20/hour
                        tr.center.aligned
                            td.right.aligned Southeast
                            td 
                                h4 $50/hour
                            td 
                                h4 $20/hour
                            td 
                                h4 $10/hour
                        tr.center.aligned
                            td.right.aligned Middle
                            td 
                                h4 $50/hour
                            td 
                                h4 $10/hour
                            td 
                                h4 $5/hour
    
    p  Payment must be received at the time you make your reservation. Cancellations made within 7 days of your reservation will not be refunded.
    
    .ui.center.aligned.basic.segment
        a.ui.center.aligned.huge.black.basic.button(href='https://www.bookingbug.com/home/116291-Impact-Hub-Boulder' target='_window') 
            .make-uppercase Reserve

