.ui.segment.container
    h2.ui.center.aligned.header#about Community At Impact Hub Boulder
    img.ui.centered.image(src='http://impacthubboulder.com/wp-content/uploads/2016/03/community_mashup_two.jpg', alt='')
    .ui.basic.padded.segment
        p The member community at Impact Hub Boulder is vibrant and expansive. Though our members share the common trait of working to make a positive contribution to the world, their backgrounds and companies are very diverse. Among our members you will find natural food entrepreneurs, CSR (corporate social responsibility) strategists, web and IT specialists, clean tech and green entrepreneurs, architects, lawyers, social workers, students and more.
        p Within the membership and broader community, Impact Hub Boulder is honored to have a number of key partnerships and sponsorships.
    .ui.horizontal.divider.header PARTNERS & SPONSORS
    img.ui.fluid.image(src='http://impacthubboulder.com/wp-content/uploads/2016/03/sponsors_for_main_page_new_20160319.jpg', alt='Partners and sponsors of Impact Hub Boulder')
    .ui.horizontal.divider.header IMPACT HUB BOULDER OFFICE HOLDERS
    img.ui.fluid.image(src='http://impacthubboulder.com/wp-content/uploads/2016/03/offices_for_main_page.jpg', alt='Partners and sponsors of Impact Hub Boulder')
    #section_about._mPS2id-t.mPS2id-target.mPS2id-target-first.mPS2id-target-last
