.ui.container.basic.padded.segment
    h2.ui.center.aligned.header
        |If you are looking for office space but find that having a private office is too expensive (especially in downtown Boulder), consider this more affordable option.
    .ui.hidden.divider
    img.ui.centered.image(src="{{c.url 'permanent_brochure' }}")
.ui.center.aligned.basic.segment.text.container
    a.impact-button-dark(href='/permanent-desk-application') Apply Now