.ui.basic.segment.container
    h1.ui.center.aligned.header Rent A Conference Room or Event Space
    img.ui.centered.image(src='http://impacthubboulder.com/wp-content/uploads/2016/03/confrm_mashup_one.jpg', alt='')
    .ui.basic.segment
        p Impact Hub Boulder offers a number of options for event rentals from large social gatherings (~200 people), to amphitheater style speaker series (up to roughly ~125 people), to medium and small workshop settings. 
        p In addition, our three conference rooms accommodate between 8-14 people, and come complete with A/V, whiteboards, and more. The rooms are available for a wide variety of meetings to members and the general public, and may be reserved by following the link below.
    .ui.basic.center.aligned.segment
        a.ui.basic.button(title='MEETING ROOM', href='http://impacthubboulder.com/host-a-meeting/', target='_self')
          | MEETING ROOM
          i.arrow.circle.right.icon
        a.ui.basic.button(title='EVENT RENTAL', href='http://impacthubboulder.com/host-an-event/', target='_self')
          | EVENT RENTAL
          i.arrow.circle.right.icon
        h5.ui.header More Coming Soon...