with event
    .ui.container.segment
        .ui.form
            +edit_title
            +edit_image
            .field
                label Start Date/Time
                input#start_date(type='text' value=start_date)
            .field
                label End Date/Time
                input#end_date(type='text' value=end_date)
            +edit_location
            +edit_description
            +edit_tags
            +edit_featured
            if tags
                #save_event.ui.large.green.button Save
            +delete_button