with event
    .ui.container.segment
        .ui.form
            +edit_title
            +edit_image
            .fields
                .field
                    label Start Date
                    input#start_date(type='date' value=start_date)
                .field
                    label Start Time
                    input#start_time(type='time' value=start_time)
            .fields
                .field
                    label End Date
                    input#end_date(type='date' value=end_date)
                .field
                    label End Time
                    input#end_time(type='time' value=end_time)
            +edit_location
            +edit_description
            +edit_tags
            +edit_featured
            +publish_button
            if title
                #save_event.ui.large.green.button Save
            +delete_button