template(name='admin')
    .ui.container.segment
        +submissions
        +user_management
        
        
template(name='user_management')
    table.ui.celled.table
        thead
            tr
                th Name
                th Email
                th Role(s)
                th Actions
        tbody
            each hub_users
                tr
                    td 
                        img.ui.avatar.image(src=profile.profile_image_url)
                        |#{profile.name}
                    td 
                        each emails
                            |#{address}
                    td #{role}
                    td 
                        .ui.compact.button Email
