template(name='admin_nav')
    .ui.menu
        .ui.container
            a.item(href="/admin/submissions" class="{{isActivePath '/admin/submissions'}}")
                i.comment.outline.icon
                |Contact Form Submissions
            a.item(href='/admin/user_management' class="{{isActivePath '/admin/user_management'}}")
                i.users.icon
                |User Management
            a.item(href='/admin/content_management' class="{{isActivePath '/admin/content_management'}}")
                i.archive.icon
                |Content Management
            a.item(href='/admin/newsletter' class="{{isActivePath '/admin/newsletter'}}")
                i.archive.icon
                |Newsletter



template(name='content_management')
    .ui.container
        // +submissions
        // +user_management
        .ui.basic.segment
            #add_organization.ui.compact.basic.button
                i.large.icons
                    i.building.icon
                    i.green.plus.corner.icon
                |Add Organization

        
        
        
template(name='user_management')
    // a#add_user.ui.basic.green.button(href='/admin/add_user')
    //     i.plus.icon
    //     |Add New User
    .ui.container
        table.ui.very.basic.table
            thead
                tr
                    th Email
                    th Profile
                    th Role(s)
                    th Actions
            tbody
                each hub_users
                    tr
                        td 
                            each emails
                                |#{address}
                        td 
                            a(href="/profile/view/#{_id}")
                                img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                |#{profile.name}
                        td 
                            if user_is_admin 'admin'
                                .remove_admin.ui.basic.icon.button
                                    i.remove.icon
                            else
                                .make_admin.ui.basic.icon.button
                                    i.plus.icon
                            each roles
                                .ui.basic.label #{this}
                        td 
                            .email_user.ui.compact.basic.disabled.button
                                i.mail.icon
                                |Email
                            .email_user.ui.compact.basic.button 
                                i.send.icon
                                |Direct Message
