template(name='admin')
    +submissions
    +user_management
        
    #add_event.ui.compact.basic.button
        i.green.plus.icon
        |Add Event

    #add_organization.ui.compact.basic.button
        i.green.plus.icon
        |Add Organization

    #add_post.ui.compact.basic.button
        i.green.plus.icon
        |Add Post

        
        
        
template(name='user_management')
    a#add_user.ui.basic.green.button(href='/admin/add_user')
        i.plus.icon
        |Add New User
    table.ui.celled.table
        thead
            tr
                th Username
                th Email
                th Profile
                th Role(s)
                th Actions
        tbody
            each hub_users
                tr
                    td #{username}
                    td 
                        each emails
                            |#{address}
                    td 
                        img.ui.avatar.image(src="{{c.url profile_doc.image_id}}")
                        |#{profile_doc.name}
                    td 
                        each roles
                            |#{this}
                    td 
                        .ui.compact.button Email
