.ui.container
    // +submissions
    // +user_management
    #add_page.ui.basic.button
        i.plus.icon
        |Add Page
    .ui.basic.segment
        #add_organization.ui.compact.basic.button
            i.large.icons
                i.building.icon
                i.green.plus.corner.icon
            |Add Organization
    +cloud filter=null
    +pages
    


