template(name='home')
    .ui.container
        +view_slider
        +call_to_action
        +academy_widget
    // +featured_events
    // +rockstar_members
    // +featured_posts


template(name='call_to_action')
    .ui.very.padded.basic.segment
        .ui.stackable.container.grid
            .ten.wide.column
                // h1.ui.header COME FOR COWORKING, STAY FOR COMMUNITY
                h3.ui.header Impact Hub Boulder is a member-based coworking space and event venue for entrepreneurs creating positive impact in the world.
                // h3.ui.header Impact Hub Boulder is the best co-working space in the world where you meet your best friend and impact the future.
                h4
                    a(href='/organizations')
                        |Meet Our Partners
                        i.right.arrow.icon
            .six.wide.center.aligned.column
                a.ui.massive.green.button(href='/join')
                    | Join


    

                    
template(name='academy_widget')
    .ui.very.padded.basic.segment.container
        .ui.container
            h2.ui.make-uppercase.header HUB Academy
                
                
template(name='rockstar_members')
    .ui.attached.very.padded.basic.segment
        .ui.container
            h1.ui.make-uppercase.header Rockstar Members
            .ui.four.stackable.cards
                each rockstar_members
                    +rockstar_member
                    
                    
                    
template(name='rockstar_member')
    .ui.fluid.card
        .image
            img.ui.image(src="{{c.url profile.image_id width=200 height=200 gravity='face' crop='fill'}}")
        .content
            .header
                h2.ui.header #{profile.name}
            .description
                // .ui.header Post Topics:
