template(name='home')
    +slider
    +call_to_action
    +academy_widget
    +featured_events
    // +rockstar_members
    +featured_posts


template(name='call_to_action')
    .ui.attached.very.padded.segment
        .ui.stackable.container.grid
            .ten.wide.column
                // h1.ui.header COME FOR COWORKING, STAY FOR COMMUNITY
                h3.ui.header Impact Hub Boulder is a member-based coworking space and event venue for entrepreneurs creating positive impact.
                h4
                    a(href='/organizations')
                        |Meet Our Partners
                        i.right.arrow.icon
            .six.wide.center.aligned.column
                a.ui.massive.green.button(href='/join')
                    |Join Now

template(name='slider')
    img.ui.centered.attached.fluid.image(src='/banners/homepage_banner.jpg')
    
    

                    
template(name='academy_widget')
    .ui.very.padded.attached.segment.container
        h2.ui.header HUB Academy
                
                
template(name='rockstar_members')
    .ui.attached.very.padded.segment.container
        .ui.container
            h1.ui.header Rockstar Members
            .ui.three.stackable.cards
                each rockstar_members
                    +rockstar_member
                    
                    
                    
template(name='rockstar_member')
    .ui.fluid.card
        .image
            img.ui.image(src=person_image_url)
        .content
            .header
                h2.ui.header #{name}
            .description
                // .ui.header Post Topics:
