#layerslider(style='width: 800px; height: 300px;')
    .ls-slide(data-ls='slidedelay: 4000;')
        img.ls-bg(src="{{c.url 'slider/Community_sgaqcp.jpg' width=1000 crop='scale'}}", alt='Slide background')
        img.ls-tn(src="{{c.url 'slider/Community_sgaqcp.jpg' width=200 height=100 crop='scale'}}", alt='Slide thumbnail')
        .ls-l.homeslider-header(style="top: 75%; left: 50%; font-size: 18px;")
            // i.university.icon
            h1 Academy
        // h2.ls-l.overlay-text-subheader(style="top: 100px;")
        //     |Learn more about our exciting new direction.
        a.ls-link(href='/academy')
    .ls-slide(data-ls='slidedelay: 4000;')
        img.ls-bg(src="{{c.url 'slider/Events_m4brwk' width=1000 crop='scale'}}", alt='Slide background')
        img.ls-tn(src="{{c.url 'slider/Events_m4brwk' width=200 height=100 crop='scale'}}", alt='Slide thumbnail')
        .ls-l.homeslider-header(style="top: 75%; left: 50%; font-size: 18px;")
            // i.birthday.icon
            h1 Events
            h4 Check out what's happening this month.
        a.ls-link(href='/events')
    .ls-slide(data-ls='slidedelay: 4000;')
        img.ls-bg(src="{{c.url 'slider/Boardroom_hs0qof' width=1000 crop='scale'}}", alt='Slide background')
        img.ls-tn(src="{{c.url 'slider/Boardroom_hs0qof' width=200 height=100 crop='scale'}}", alt='Slide thumbnail')
        .ls-l.homeslider-header(style="top: 75%; left: 50%; font-size: 18px;")
            h1 Community
            h4 Check out our members.
        a.ls-link(href='/people')
    .ls-slide(data-ls='slidedelay: 4000;')
        img.ls-bg(src="{{c.url 'slider/fixed_desks' width=1000 crop='scale'}}", alt='Slide background')
        img.ls-tn(src="{{c.url 'slider/fixed_desks' width=200 height=100 crop='scale'}}", alt='Slide thumbnail')
        .ls-l.homeslider-header(style="top: 75%; left: 50%; font-size: 18px;")
            h1 Fixed Desks
        // h2.ls-l.overlay-text-subheader(style="top: 100px;")
        //     |Be the coolest one in the room.
        a.ls-link(href='/join')
    .ls-slide(data-ls='slidedelay: 4000;')
        img.ls-bg(src="{{c.url 'cocreating' width=1000 crop='scale'}}", alt='Slide background')
        img.ls-tn(src="{{c.url 'cocreating' width=200 height=100 crop='scale'}}", alt='Slide thumbnail')
        .ls-l.homeslider-header(style="top: 75%; left: 50%; font-size: 18px;")
            h1 Help IHB Create the Future
        a.ls-link(href='/join')
