with rental
    .ui.container.segment
        .ui.form
            +edit_title
            +edit_image
            +edit_description
            +edit_tags
            +publish_button
            if title
                #save_rental.ui.green.button 
                    i.check.icon
                    |Save
            +delete_button
