template(name='submissions')
    .ui.container.segment
        h2.ui.header Contact Form Submissions
        .ui.list
            each submissions
                +submission
                
                
template(name='submission')
    .item
        .content
            strong #{name}
            strong #{email}
            strong #{message}
            .ui.right.floated.icon.button
                i.remove.red.icon.remove_submission