template(name='nav')
    .red-nav-bar
        .ui.red.inverted.large.menu
            .ui.container
                a.item(href='/about' class="{{isActivePath '/about'}}")
                    i.info.icon
                    |About
                a.item(href='/people' class="{{isActivePath '/people'}}")
                    i.users.icon
                    |Members
                // a.item(href='/conversations' class="{{isActivePath '/conversations'}}")
                //     i.comments.icon
                //     | Conversations
                a.item(href='/events' class="{{isActivePath '/events'}}")
                    i.calendar.icon
                    | Events
                a.item(href='/partners' class="{{isActivePath '/partners'}}")
                    // i.calendar.icon
                    | Partners
                a.item(href='/academy' class="{{isActivePath '/academy'}}")
                    // i.calendar.icon
                    | Programs
                a.item(href='/become_member' class="{{isActivePath '/become_member'}}")
                    // i.calendar.icon
                    | Become A Member
                a.item(href='/posts' class="{{isActivePath '/posts'}}")
                    i.file.text.outline.icon
                    | Blog
                a.item(href='/rent' class="{{isActivePath '/rent'}}")
                    // i.calendar.icon
                    | Rent Our Space
                // a.item(href='/wins' class="{{isActivePath '/wins'}}")
                //     i.thumbs.up.icon
                //     | Wins/Challenges


template(name='top_nav')
    .ui.inverted.menu
        .right.menu
            a.icon.item(href='https://www.facebook.com/ImpactHubBoulder')
                i.facebook.link.icon
            a.icon.item(href='https://twitter.com/ImpactHubBldr')
                i.twitter.link.icon
            if currentUser
                a.item(href='/profile' class="{{isActivePath '/profile'}}")
                    i.user.icon
                    // | Profile
                    | #{currentUser.profile.name}
                a.item(href='/messages' class="{{isActivePath '/messages'}}")
                    i.mail.icon
                    // | Messages (#{currentUser.unreadcount})
                    | Messages
                a#logout.ui.item(href='#') 
                    i.sign.out.icon
                    |Sign Out
            else
                a.ui.item(href='/sign-in') 
                    i.sign.in.icon
                    |Sign In
    a.header-logo(href='/' class="{{isActivePath '/'}}")
        img.ui.medium.image(src='/img/Impact_Hub_Boulder_logo.png')