template(name='footer')
    .ui.basic.fluid.inverted.segment.footer
        .ui.stackable.three.column.grid
            .center.aligned.column
                +contact_form
            .center.aligned.column
                +badges
            .column
                +contact_info
                
                
template(name='contact_form')
    .ui.inverted.segment
        .ui.inverted.form
            h2.ui.inverted.make-uppercase.header Contact Us
            .required.fields
                label(for='reason') I am contacting you to...
                .field
                    .ui.radio.checkbox
                        input.hidden(type='radio', name='reason', checked='', tabindex='0')
                        label Ask a question / provide feedback.
                .field
                    .ui.radio.checkbox
                        input.hidden(type='radio', name='reason', tabindex='0')
                        label Change, pause, or cancel my membership.
            .required.field
                input#name(type='text' placeholder='Name')
            .required.field
                input#email(type='email' placeholder='Email')
            .required.field
                input#message(type='text' placeholder='Message')
            // .four.wide.field
            //     .ui.basic.segment
            //         +reCAPTCHA
            #submit_contact_form.ui.inverted.fluid.basic.button
                |Submit



template(name='badges')
    +newsletter_sign_up
    .ui.two.column.centered.grid
        .ui.four.column.centered.row
            .column
                // .ui.compact.segment
                img.ui.tiny.image(src='/badges/B-Corp.png')
            .column
                .ui.compact.segment
                    img.ui.image(src='/badges/entrepreneurial_by_nature.jpg')
    .ui.hidden.divider
    a.ui.icon.big.white.inverted.button(href='https://www.facebook.com/ImpactHubBoulder' target="_blank")
        i.facebook.link.icon
    a.ui.icon.big.white.inverted.button(href='https://twitter.com/ImpactHubBldr' target="_blank")
        i.twitter.link.icon

    
    
template(name='contact_info')
    h3.ui.inverted.header CONTACT INFORMATION
    .ui.basic.inverted.segment
        p Impact Hub Boulder
        p 1877 Broadway, Suite 100
        p Boulder, CO 80302
        p 303.629.2899
    h3.ui.inverted.header HOURS
    .ui.basic.inverted.segment
        p MON to FRI: 9 to 6 PM
        p SAT to SUN: closed
        p Weather policy follows BVSD closures
    a(href='https://hubboulder.formstack.com/forms/updateccinfo') 
        |Update your payment info 
        i.right.arrow.icon