.ui.basic.padded.inverted.segment
    .ui.form
        h2.ui.inverted.header Newsletter
        .field
            input#name(type='text' placeholder='Name')
        .field
            input#email(type='email' placeholder='Email')
        .ui.fluid.basic.inverted.button#newsletter_sign_up
            |Sign Up