template(name='memberships')
    table.ui.definition.selectable.table
        thead
            tr.center.aligned
                th
                th 
                    h3 Connect
                th 
                    h3 Drop-In
                th 
                    h3 Part-Time
                th 
                    h3 Full-Time
                th 
                    h3 Permanent Desk
        tbody
            tr.center.aligned
                td.right.aligned Price/Month
                td 
                    h4 $30/month
                td 
                    h4 $75/month
                td 
                    h4 $195/month
                td 
                    h4 $295/month
                td 
                    h4 $450/month            
            tr.center.aligned
                td.right.aligned Access
                td Community membership (no included coworking access)
                td 18 hrs/mo (~2 days/mo) coworking access
                td 108 hrs/mo (~12 days/mo) coworking access
                td Full-time M-F, 9am to 6pm coworking access
                td 24/7 access card included            
            tr.center.aligned
                td.right.aligned Free or Discounted Events
                td 
                    i.green.check.big.icon 
                td 
                    i.green.check.big.icon 
                td 
                    i.green.check.big.icon
                td 
                    i.green.check.big.icon 
                td 
                    i.green.check.big.icon             
            tr.center.aligned
                td.right.aligned 50% Off One Boulder Fitness Membership
                td 
                    i.green.check.big.icon
                td 
                    i.green.check.big.icon
                td 
                    i.green.check.big.icon
                td 
                    i.green.check.big.icon
                td 
                    i.green.check.big.icon
            tr.center.aligned
                td.right.aligned Free Espresso, Coffee & Tea
                td 
                    |- 
                td 
                    i.green.check.big.icon
                td 
                    i.green.check.big.icon
                td 
                    i.green.check.big.icon 
                td 
                    i.green.check.big.icon 
            tr.center.aligned
                td.right.aligned EcoPass Included
                td 
                    |-
                td 
                    |-
                td 
                    |-
                td 
                    |-
                td 
                    i.green.check.big.icon
            tr.center.aligned
                td.right.aligned Permanent Desk
                td 
                    |-
                td 
                    |-
                td 
                    |-
                td 
                    |-
                td 
                    i.green.check.big.icon
            tr.center.aligned
                td.right.aligned Locking File Cabinet

                td 
                    |-
                td 
                    |-
                td 
                    |-
                td 
                    |-
                td 
                    i.green.check.big.icon
            tr.center.aligned
                td.right.aligned Notes
                td Special price of $25/day coworking access
                td -
                td -
                td -
                td 6 month lease required
            tr.center.aligned
                td.right.aligned 
                td 
                    a.impact-button-dark(href='https://hubboulder.formstack.com/forms/ihb_membership_form') Join Now
                td 
                    a.impact-button-dark(href='https://hubboulder.formstack.com/forms/ihb_membership_form') Join Now
                td 
                    a.impact-button-dark(href='https://hubboulder.formstack.com/forms/ihb_membership_form') Join Now
                td.center.aligned 
                    a.impact-button-dark(href='https://hubboulder.formstack.com/forms/ihb_membership_form') Join Now
                td 
                    a.impact-button-dark(href='/permanent-desk-application') Apply Now
    // .ui.center.aligned.basic.segment.text.container
    //     a.impact-button-dark(href='https://hubboulder.formstack.com/forms/ihb_membership_form') Join Now