template(name='edit_organization')
    with organization
        .ui.container.basic.segment
            .ui.form
                +edit_title
                +edit_image
                +edit_link
                +edit_description
                +edit_tags
                if tags
                    #save_organization.ui.green.button Save
                +delete_button                        