template(name='edit_organization')
    with organization
        .ui.container.segment
            .ui.form
                +edit_title
                +upload_image
                +edit_link
                +edit_description
                +edit_tags
                if tags
                    #save_organization.ui.big.green.button Save
                #delete_organization.ui.red.button Delete
                        