template(name='organization_cloud')
    .ui.center.aligned.basic.segment
        .ui.fluid.image
            img(src='/img/community_mashup_two.jpg')
            // .ui.bottom.attached.basic.massive.red.label Partners
            .ui.top.attached.basic.massive.red.label Community At Impact Hub Boulder
        .ui.header Browse Partners
            if can_add_organization
                #add_organization.ui.compact.basic.circular.button
                    i.green.plus.icon
                    |Add Organization
        .ui.hidden.divider
        if selected_organization_tags
            #clear_tags.ui.red.big.compact.icon.circular.button
                i.remove.icon
        if selected_organization_tags
            each selected_organization_tags
                a.ui.red.big.compact.circular.button.unselect_tag
                    strong #{this}
        each organization_tags
            .ui.compact.basic.circular.button.select_tag(class=organization_tag_class) #{this.name}
                // small #{this.count}
