.field
    label Description
    // textarea#description(rows='5') #{description}
    .froala-container
        +froalaReactive getFEContext
    // a#upload_widget_opener(href='#') Upload multiple images
    // script(src='//widget.cloudinary.com/global/all.js', type='text/javascript')
    // script(type='text/javascript').
    //     document.getElementById("upload_widget_opener").addEventListener("click", function() {
    //     cloudinary.openUploadWidget({ cloud_name: 'facet', upload_preset: 'rodonu5a'},
    //     function(error, result) { console.log(error, result) });
    //     }, false);
        
        

    #save_description.ui.green.button Save Description